form {
  width: min-content;
  display: grid;
  grid-auto-rows;
  row-gap: 5px;
}

.container {
  display:grid;
  grid-template-columns: max-content 1fr;
}
.container > div {
  border: 1px solid black;
  padding: 0px 10px 30px 10px;
  margin: 10px;
}

.create-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-books {

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
table {
  width: 100%;
}

.radiobuttons {
  display: flex;
  gap: 10px;
}
